@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    
    background: 50% 0 no-repeat #f5f5f5;
    color: #808080;
    font-size: 100%;
    height: auto;
    margin: 8px 0px;
}
.form-group {
  box-sizing: border-box;
  margin-bottom: 15px;
  
}
  
.form-control {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  /*background-color: #fff;
  background-image: none;*/
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.sub-container2{
  padding-top: 20px;
}
.sub-container3{
  padding-top: 20px;
}
td{
  padding: 0px 20px;
}

.edit-modal-content .form-control {
  width:15%;
}
.due-date-modal-content .form-control {
  width:100%;
 }



/*button.btn-user-log-in {
  background-color:  #561b8d;
  border: none;
  border-radius: 4px;
  width : 100%;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
}
*/

.form-error-msg{
  display: none;
  color:red;
}

.form-mandatory-input
{   color:red;
}

.invalid
{ background-color: rgb(243, 146, 146);
}
.user-info{
  position: absolute;
  height: 100px;
  width: 20%;  
  top:0;
  right:0;
  margin: 15px auto;  
  word-wrap: break-word;
}

.user-info .disp-text{
  color:#0300ca;
}




img {   
    border: 0;
    max-width: 100%;
    color: transparent;
    vertical-align: middle;
}
img.logo_img {
    margin: 0 10px 20px;
}
img.user_img{
  position: absolute; 
  width : 100px;
  top:0;
  right:20%;

}
img.modal_logo_img {
  height : 30%;
  width :30%;
}

img.item_img{
  height :180px;
  width : 180px;
  float : left;
  vertical-align: top;
  margin-top: 20px;
}

.items
{box-sizing: border-box;
  border-bottom: 1px solid #DDD;
  height: 216px;
  margin :0px;
  padding : 0px;
  overflow: auto;

}
.items h4,h5{
  display: inline-block;
  text-Transform:capitalize;
}


.checkout-items
{height: 300px;
  overflow: auto;
}

.checkout-items .items
{
  height : auto;
}


button{
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  width : 15%;
  color: white;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button.btn-user-log-in {
  background-color:  #561b8d;
  width : 100%;
  color: white;
  padding: 6px 12px;
  display: inline-block;
  margin: 0px 0px;
}

.items button.btn-add-to-cart {
  background-color:  #005f28;
  margin: 4px 2px;
  position: relative;
  top: 0%;
  left: 72%;
}

.items button.btn-delete {
  background-color:  #9c0101;
  margin: 4px 2px;
  position: relative;
  top: 0%;
  left: 72%;
}
.items button.btn-edit {
  background-color:  #f0c14b;
  margin: 4px 2px;
  position: relative;
  top: 0%;
  left: 72%;
}

  button.btn-edit-update,.btn-add-item,.btn-due-date-update,.btn-checkout,.btn-checkout-items,.btn-info{
  background-color:  #561b8d;
  color: white;
  padding: 6px 12px;
  display: inline-block;
  margin: 0px 0px;
  position: relative;
  left : 18%;
  margin: 15px 15px;
}

.btn-checkout-items-ok{
  background-color: #005f28;

}

.btn-checkout-items-cancel{
  background-color: #f0c14b;

}


.btn-info-ok{
  position: relative;
}

button.btn-due-date-update,.btn-checkout {
  width:50%;
}

.admin{
  display : none;
}

header{
    display: block;
    height: 100px;
}
.container1
{
    background: #ffffff;
    margin: 0px 8px;
    
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.login-modal{
  background-image: url("https://ece9065-praju2-lab2.s3.ca-central-1.amazonaws.com/user_model_bg.jpg");
  background-color:  #561b8d; 
  animation-name: fadeIn;
  overflow: hidden; 
  }

.edit-modal{
  background-color: rgba(0,0,0, 0.9); 
  animation-name: fadeIn;
}
.due-date-modal{
  background-color: rgba(0,0,0, 0.9); 
  animation-name: fadeIn;
}

.checkout-modal{
  background-color: rgba(0,0,0, 0.9); 
  animation-name: fadeIn;
}

.info-modal{
  background-color: rgba(0,0,0, 0.9); 
  animation-name: fadeIn;
}
  /* Modal Content */
.modal-content {
  padding: 20px;
  background-color: #fefefe;
 }

.login-modal-content{
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  background-color: #fefefe;
  width: 30%;
  animation-name: fadeIn;
  animation-duration: 2s

}

.edit-modal-content{
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  background-color: #fefefe;
  width: 50%;
  height: 50%;
  animation-name: fadeIn;
  

}
.due-date-modal-content{
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  background-color: #fefefe;
  width: 20%;
  height: 35%;
  animation-name: fadeIn;
  

}

.basket{

  overflow: auto;
  height:630px;
}

.checkout-modal-content{
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  background-color: #fefefe;
  width: 60%;
  height: 50%;
 /* overflow: auto;*/
  animation-name: fadeIn;
 
}
.info-modal-content{
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  background-color: #fefefe;
  width: 20%;
  height: 20%;
 /* overflow: auto;*/
  animation-name: fadeIn;
  

}
  
  /* The Close Button */
  .close {
    display: none;
    color: rgba(12, 12, 12, 0.623);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .edit-modal .close {
    display: block; 
  }

 .due-date-modal .close {
    display: block; 
  }

  .checkout-modal .close {
    display: block; 
  }

  .info-modal .close {
    display: block; 
  }
  
  .edit-items{
    line-height: 1.6;
  }

  a:link {
    font-weight: bold;
    color: rgb(24, 39, 245);
  }
  a:visited {
    color:rgb(24, 39, 245);
  }
  a:hover {
     cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px; 
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    }
  
  /* Add Animation */
   @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  h1, h2, h3 {
    font-family: Roboto,sans-serif;
    color: #561b8d;
}

.sub-container1 h1{
  background:#f5f5f5;
}
.nav-bar{
background-color: #561b8d;
width: 100%;
height: 43px;
margin: 0px;

}



/* Style the tab */
.tab {
  box-sizing: border-box;
  float: left;
  border: 1px solid #ccc;
  background-color: white;
  width: 10%;
  height: 700px;
}

/* Style the buttons inside the tab */
.tab button {
  box-sizing: border-box;
  display: block;
  color: #561b8d;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 0%;
  margin: 0px 0px;
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(163, 163, 163);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  background: #ffffff;
  box-sizing: border-box;
  float: left;
  padding: 0px 20px;
  border: 1px solid #ccc;
  width: 90%;
  border-left: none;
  height: 700px;
  overflow: auto;
}