<!DOCTYPE html>
<html>

<head>
  <link href="https://ece9065-praju2-lab2.s3.ca-central-1.amazonaws.com/favicon.ico" rel="shortcut icon">
  <title>ECE 9065 - Lab 2</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="resources/lab3.css" />

</head>

<body>
  <header>
    <img alt="Western University" class="logo_img" height="80px"
      src="https://ece9065-praju2-lab2.s3.ca-central-1.amazonaws.com/westernlogo.svg">
    <img alt="User Photo" class="user_img"
      src="https://ece9065-praju2-lab2.s3.ca-central-1.amazonaws.com/User_Avatar-512.png">
    <div class='user-info'>
      <label for="lbl-user-name"><span id="disp-ip-user-name" class="disp-text"
          style="text-Transform:capitalize"></span></label>
      <label for="lbl-user-email">(<span id="disp-ip-user-email" class="disp-text"></span>)</label>
      <label for="lbl-user-birth-year">[<span id="disp-ip-user-birth-year" class="disp-text"></span>]</label><br />
      <a id="lang_en">En</a>/<a id="lang_fr">Fr</a><br />
      <label for="lbl-user-log-out"><a href="#Logout" onClick="logout();">Logout</a></label>

    </div>
  </header>
  <div class="nav-bar"></div>
  <div class="container1">
    <!-- The Modal -->
    <div id="login-modal" class="modal login-modal">
      <!-- Modal content -->
      <div class="modal-content login-modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <img alt="Western University" class="modal_logo_img"
            src="https://ece9065-praju2-lab2.s3.ca-central-1.amazonaws.com/westernlogo.svg">
        </div>
        <div class="modal-body">
          <h2>ECE 9065 - Lab 2</h2>
          <form>
            <div class="form-group">
              <label for="usr">Name:<span class="form-mandatory-input">*</span></label>
              <input type="text" maxlength="100" class="form-control validate-login" id="ip-user-name"
                style="text-Transform:capitalize" placeholder="Full Name" maxlength="100">
              <span id="err-ip-user-name" class="form-error-msg"></span>
            </div>
            <div class="form-group">
              <label for="usr">Email:<span class="form-mandatory-input">*</span></label>
              <input type="text" class="form-control validate-login" id="ip-user-email"
                placeholder="someone@example.com">
              <span id="err-ip-user-email" class="form-error-msg"></span>
            </div>
            <div class="form-group">
              <label for="usr">Year of birth:<span class="form-mandatory-input">*</span></label>
              <input type="text" class="form-control validate-login" id="ip-user-birth-year"
                placeholder="YYYY (1900 - Current Year)" maxlength="4">
              <span id="err-ip-user-birth-year" class="form-error-msg"></span>
            </div>
            <button type="button" class="btn-user-log-in" id="btn-user-log-in">Log In</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
    <div id="edit-modal" class="modal edit-modal">
      <!-- Modal content -->
      <div class="modal-content edit-modal-content">
        <div class="modal-header">
          <span class="close" id="edit-modal-close">&times;</span>
          <h2>Edit</h2>
        </div>
        <div class="modal-body">
          <form>
            <div id="edit-item" class="edit-items">
              <input type="hidden" id="edit-book-id" value="">
              <img alt="" class="item_img" src="" id="edit-item-img" />              
              <h4><label for="lbl-edit-item-name"><span class="edit-item-name" id="edit-item-name"></span></label></h4>
              <label for="lbl-edit-item-author">Author: <span class="edit-item-author"
                  id="edit-item-author"></span></label><br />
              <label for="lbl-edit-item-edition">Edition: <span class="edit-item-edition"
                  id="edit-item-edition"></span></label><br />
              <label for="lbl-edit-item-publisher">Publisher: <span class="edit-item-publisher"
                  id="edit-item-publisher"></span></label><br />
              <label for="lbl-edit-item-type">Type: <span class="edit-item-type"
                  id="edit-item-type"></span></label><br />
              <div class="form-group">
                <label for="lbl_edit-item-copies">Available Copies:<span class="form-mandatory-input">*</span></label>
                <input type="text" maxlength="2" class="form-control validate-edit" id="ip-edit-item-copies"
                  placeholder="Number of copies" maxlength="2">
                <span id="err-ip-edit-item-copies" class="form-error-msg"></span>
              </div>

              <label for="lbl-edit-item-image-btn">Icon: <input type='file' id="btn-edit-item-image" /></label><br />
              <button type="button" class="btn-edit-update" id="btn-edit-update">Update</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
    <div id="due-date-modal" class="modal due-date-modal">
      <!-- Modal content -->
      <div class="modal-content due-date-modal-content">
        <div class="modal-header">
          <span class="close" id="due-date-modal-close">&times;</span>
          <h2>Change Due Date</h2>
        </div>
        <div class="modal-body">
          <div id="due-date-item" class="due-date-items">
            <form>


              <div class="form-group">
                <label for="lbl-due-date-book"> Number of Days(Book):<span
                    class="form-mandatory-input">*</span></label><br />
                <input type="text" maxlength="2" class="form-control validate-due-date" id="ip-due-date-book"
                  placeholder="Number of Days (Max 99)">
                <span id="err-ip-due-date-book" class="form-error-msg"></span>
              </div>
              <div class="form-group">
                <label for="lbl-due-date-cd"> Number of Days(CD):<span
                    class="form-mandatory-input">*</span></label><br />
                <input type="text" maxlength="2" class="form-control validate-due-date" id="ip-due-date-cd"
                  placeholder="Number of Days (Max 99)">
                <span id="err-ip-due-date-cd" class="form-error-msg"></span>
              </div>
              <button type="button" class="btn-due-date-update" id="btn-due-date-update">Update</button>


            </form>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
    <div id="checkout-modal" class="modal checkout-modal">
      <!-- Modal content -->
      <div class="modal-content checkout-modal-content">
        <div class="modal-header">
          <span class="close" id="checkout-close">&times;</span>
          <h2>Checkout</h2>
        </div>
        <div class="modal-body">
          <div id="checkout-items" class="checkout-items">



          </div>
        </div>
        <div class="modal-footer">
          <div id="div-checkout-items-btn" class="div-checkout-items-btn">
            <b>
              <p>Total Number of Items: <span id="checkout-total-items"></span></p>
            </b>
            <form>
              <button type="button" class="btn-checkout-items btn-checkout-items-ok"
                id="btn-checkout-items-ok">OK</button>
              <button type="button" class="btn-checkout-items btn-checkout-items-cancel"
                id="btn-checkout-items-cancel">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="info-modal" class="modal info-modal">
      <!-- Modal content -->
      <div class="modal-content info-modal-content">
        <div class="modal-header">
          <span class="close" id="info-close">&times;</span>
          <h2>info</h2>
        </div>
        <div class="modal-body">
          <div id="info-message" class="info-message">
          <span id="info-message-det"></span>
          </div>
        </div>
        <div class="modal-footer">
          <div id="div-info-btn" class="div-info-btn">
            <form>
              <button type="button" class="btn-info btn-info-ok" id="btn-info-ok">OK</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="sub-container1">
      <h1>Library Checkout</h1>
      <div class="tab">
        <button class="tablinks non-admin" onclick="openTab(event, 'available-items')" id="btn-items-available">Items
          Available</button>
        <button class="tablinks non-admin" onclick="openTab(event, 'main-basket')" id="btn-checkout-list">Checkout
          List</button>
        <button class="tablinks admin" onclick="openTab(event, 'add-items')" style="display: none;"
          id="btn-add-items">Add Items</button>
        <button class="tablinks admin" onclick="openTab(event, 'available-items')" style="display: none;"
          id="btn-edit-delete-items">Edit/Delete Items</button>
        <button class="tablinks admin" style="display: none;" id="btn-due-date">Change Due Date</button>
      </div>
      <div id="available-items" class="tabcontent">

      </div>
      <div id="main-basket" class="tabcontent">
        <div id="basket" class="basket">
        </div>
        <div id="div-checkout-btn" class="div-checkout-btn">
          <form>
            <button type="button" class="btn-checkout" id="btn-checkout">Checkout</button>
          </form>
        </div>
      </div>
      <div id="add-items" class="tabcontent">
        <div class="sub-container2">

          <form>
            <div class="add-item-image">
              <img alt="" class="item_img"
                src="https://ece9065-praju2-lab2.s3.ca-central-1.amazonaws.com/User_Avatar-512.png" id="add-item-img" />
            </div>
            <table class="table" width="70%">
              <tr>
                <td>
                  <div class="form-group">
                    <label for="add-item-name">Name:<span class="form-mandatory-input">*</span></label>
                    <input type="text" maxlength="100" class="form-control validate-add" id="ip-add-item-name"
                      style="text-Transform:capitalize" placeholder="Book/CD Name">
                    <span id="err-ip-add-item-name" class="form-error-msg"></span>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="add-item-name-fr">Nom:<span class="form-mandatory-input">*</span></label>
                    <input type="text" maxlength="100" class="form-control validate-add" id="ip-add-item-name-fr"
                      style="text-Transform:capitalize" placeholder="Book/CD Name in French">
                    <span id="err-ip-add-item-name-fr" class="form-error-msg"></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group">
                    <label for="add-item-author">Author:<span class="form-mandatory-input">*</span></label>
                    <input type="text" maxlength="100" class="form-control validate-add" id="ip-add-item-author"
                      style="text-Transform:capitalize" placeholder="Name of the Author">
                    <span id="err-ip-add-item-author" class="form-error-msg"></span>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="add-item-type">Type:<span class="form-mandatory-input">*</span></label>
                    <select class="form-control" id="ip-add-item-type">
                      <option>Book</option>
                      <option>CD</option>
                    </select>
                    <span id="err-ip-add-item-type" class="form-error-msg"></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group">
                    <label for="add-item-publisher">Publisher:<span class="form-mandatory-input">*</span></label>
                    <input type="text" maxlength="100" class="form-control validate-add" id="ip-add-item-publisher"
                      style="text-Transform:capitalize" placeholder="Name of the Publisher">
                    <span id="err-ip-add-item-publisher" class="form-error-msg"></span>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="add-item-edition">Edition:<span class="form-mandatory-input">*</span></label>
                    <input type="text" maxlength="2" class="form-control validate-add" id="ip-add-item-edition"
                      style="text-Transform:capitalize" placeholder="Edition">
                    <span id="err-ip-add-item-edition" class="form-error-msg"></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group">
                    <label for="add-item-copies">Copies:<span class="form-mandatory-input">*</span></label>
                    <input type="text" maxlength="1" class="form-control validate-add" id="ip-add-item-copies"
                      style="text-Transform:capitalize" placeholder="# of copies between 0 and 99">
                    <span id="err-ip-add-item-copies" class="form-error-msg"></span>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="lbl-add-item-image-btn">Icon: <input type='file' id="btn-add-item-image" /></label>
                    <span id="err-btn-add-item-image" class="form-error-msg"></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button type="button" class="btn-add-item" id="btn-add-item">Add</button>
                </td>
              </tr>
              </tr>
            </table>

          </form>
        </div>
      </div>
    </div>
    <script type='text/javascript' src='resources/script.js'></script>
  </div>
</body>

</html>